body {
  font-family: "Montserrat", sans-serif;
  margin: 6rem;
}

h1 {
  font-size: xx-large;
  color: rgb(3, 3, 58);
}

h2 {
  text-align: center;
  font-size: x-large;
}
#intro {
  text-align: center;
}
.pad-top {
  padding-top: 3rem;
}
.pad-bot {
  padding-bottom: 3rem;
}
img {
  width: 32%;
  height: auto;
  margin: 5px;
}

.flex-contain {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#contain-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
